<main>
  <p class="notice notice-success"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'book', user:@user, book:@booknew %>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">

          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user.id) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %></br>
                  <%= @book.user.name %>
                <% end %>
              </td>
              <td><%= link_to @book.title %></td>
              <td><%= @book.body %></td>
              <td>
                <% if @book.user.id == current_user.id %>
                <%= link_to edit_book_path do %>
                  <span class="btn btn-sm btn-success edit_book_id"> Edit</span>
                <% end %>
                <% end %>
              </td>
              <td>
                <% if @book.user.id == current_user.id %>
                  <%= link_to destroy_path, rel: "nofollow", method: :delete, "data-confirm"=>"本当に消しますか？" do %>
                    <span class="btn btn-sm btn-danger destroy_book_id">Destroy</span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>